<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - CientSide</title>
    <link href="~/assets/images/favicon.ico" type="img/x-icon" rel="shortcut icon">
    <!-- All css files are included here. -->
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/iconfont.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/helper.css">
    <link rel="stylesheet" href="~/assets/css/plugins/plugins.css">
    <link rel="stylesheet" href="~/assets/css/vendor/revslider.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- Modernizr JS -->
    <script src="~/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <div id="main-wrapper" class=" ">
        <!--Header section start-->
        <header class="header ">
            <div class="header-deafult menu-right height-150 d-flex align-items-center">
                <div class="container-fluid pl-80 pr-80 pl-lg-15 pl-md-15 pl-sm-15 pl-xs-15 pr-lg-15 pr-md-15 pr-sm-15 pr-xs-15">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-6 col-md-6 col-4">
                            <div class="logo">
                                <a href="index.html"><img src="assets/images/logo.png" alt=""></a>
                            </div>
                        </div>
                        <!--Menu start-->
                        <div class="col-xl-6  d-none d-xl-block">
                            <div class="menu-center d-flex justify-content-center">
                                <nav class="main-menu ">
                                    <ul>
                                        <li>
                                            <a href="index.html">Home</a>
                                            <ul class="mega-menu three-column">
                                                <li>
                                                    <a href="#" class="item-link">Demo Group 01</a>
                                                    <ul>
                                                        <li><a href="index.html">Home 01</a></li>
                                                        <li><a href="index-2.html">Home 02</a></li>
                                                        <li><a href="index-3.html">Home 03</a></li>
                                                        <li><a href="index-4.html">Home 04</a></li>
                                                        <li><a href="index-5.html">Home 05</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#" class="item-link">Demo Group 02</a>
                                                    <ul>
                                                        <li><a href="index-6.html">Home 06</a></li>
                                                        <li><a href="index-7.html">Home 07</a></li>
                                                        <li><a href="index-8.html">Home 08</a></li>
                                                        <li><a href="index-9.html">Home 09</a></li>
                                                        <li><a href="index-10.html">Home 10</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#" class="item-link">Demo Group 03</a>
                                                    <ul>
                                                        <li><a href="index-11.html">Home 11</a></li>
                                                        <li><a href="index-12.html">Home 12</a></li>
                                                        <li><a href="index-13.html">Home 13</a></li>
                                                        <li><a href="index-14.html">Home 14</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="coming-soon.html">Comming Soon 01</a></li>
                                                <li><a href="coming-soon-two.html">Comming Soon 02</a></li>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="404.html">404 Page</a></li>
                                                <li><a href="contact.html">Contact Us</a></li>
                                                <li><a href="faq.html">FAQ Page</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Portfolio</a>
                                            <ul class="sub-menu">
                                                <li><a href="portfolio-classic.html">Portfolio Classic</a></li>
                                                <li><a href="portfolio-fullwidth.html">Portfolio Fullwidth</a></li>
                                                <li><a href="portfolio-single.html">Portfolio Single</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Shop</a>
                                            <ul class="mega-menu four-column">
                                                <li>
                                                    <a href="#" class="item-link">Shop Layout</a>
                                                    <ul>
                                                        <li><a href="shop-fullwidth.html">Shop Fullwidth</a></li>
                                                        <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                                                        <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                                        <li><a href="shop-masonry.html">Shop Mansory</a></li>
                                                        <li><a href="shop-collections.html">Shop Collections</a></li>
                                                        <li><a href="shop-instagram.html">Shop Instagram</a></li>
                                                        <li><a href="shop-metro.html">Shop Metro</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#" class="item-link">Product Page</a>
                                                    <ul>
                                                        <li><a href="single-product.html">Simple Product 01</a></li>
                                                        <li><a href="single-product-2.html">Simple Product 02</a></li>
                                                        <li><a href="single-product-3.html">Simple Product 03</a></li>
                                                        <li><a href="single-product-4.html">Simple Product 04</a></li>
                                                        <li><a href="single-product-5.html">Simple Product 05</a></li>
                                                        <li><a href="single-product-configurable.html">Product Configurable</a></li>
                                                        <li><a href="single-product-affiliate.html">Product Affiliate</a></li>
                                                        <li><a href="single-product-group.html">Product Grouped</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#" class="item-link">Other Page</a>
                                                    <ul>
                                                        <li><a href="cart.html">Shopping Cart</a></li>
                                                        <li><a href="wishlist.html">Wishlist</a></li>
                                                        <li><a href="compare.html">Compare</a></li>
                                                        <li><a href="checkout.html">Checkout</a></li>
                                                        <li><a href="my-account.html">My account</a></li>
                                                        <li><a href="order-tracking.html">Order Tracking</a></li>
                                                    </ul>
                                                </li>
                                                <li class="mega-menu-banner">
                                                    <a href="shop-fullwidth.html" class="item-link">
                                                        <img src="assets/images/banner/banner-megamenu.jpg" alt="">
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Blog</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog.html">Blog Left Sidebar</a></li>
                                                <li><a href="blog-nosidebar.html">Blog No Sidebar</a></li>
                                                <li><a href="blog-two-column.html">Blog 02 Columns</a></li>
                                                <li><a href="blog-mansory.html">Blog Mansory</a></li>
                                                <li><a href="blog-list.html">Blog Classic Layout</a></li>
                                                <li class="has-dropdown">
                                                    <a href="#">Single Post</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="blog-details.html">Single Post 01</a></li>
                                                        <li><a href="blog-details-2.html">Single Post 02</a></li>
                                                        <li><a href="blog-details-3.html">Single Post 03</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!--Menu end-->
                        <div class="col-xl-3 col-lg-6 col-md-6 col-8 d-flex justify-content-end">
                            <div class="header-icon search ">
                                <a class="search-trigger" href="#">
                                    <i class="dlicon ui-1_zoom"></i>
                                </a>
                            </div>
                            <div class="header-icon cart ">
                                <a href="wishlist.html">
                                    <span class="cart-count">3</span>
                                    <i class="dlicon ui-3_heart"></i>
                                </a>
                            </div>
                            <div class="header-icon cart ">
                                <a class="cart-trigger" href="#">
                                    <span class="cart-count">3</span>
                                    <i class="dlicon shopping_cart-modern"></i>
                                </a>
                            </div>
                            <div class="header-icon hamburger-menu ">
                                <a class="hamburger-trigger d-none d-xl-block" href="#">
                                    <i class="dlicon ui-3_menu"></i>
                                </a>

                                <a class="hamburger-trigger d-block d-xl-none" href="#">
                                    <i class="dlicon ui-3_menu"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--Header section end-->
       
           @* Contant Section *@
            @RenderBody()
      

        <!-- Start Footer Area -->
        <footer class="footer-default section bg-black pl-100 pr-100 pl-lg-15 pl-md-15 pl-sm-15 pl-xs-15 pr-lg-15 pr-md-15 pr-sm-15 pr-xs-15">
            <!-- Start Footer Top -->
            <div class="footer-top-area pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-10 pb-xs-0">
                <div class="row justify-content-between">
                    <!-- Start Single Widget -->
                    <div class="footer-widget footer-column footer-column__a col-xl-5 col-lg-12 col-md-12 col-sm-6 col-12 text-xl-left mb-40">
                        <div class="inner">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="assets/images/logo-white.png" alt="logo white">
                                </a>
                            </div>
                            <div class="footer-content">
                                <p class="pra"> Donec nunc nunc, gravida vitae diam vel, varius interdum erat. Quisque a nunc vel diam auctor commodo.</p>
                                <div class="footer-social-icon">
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                    <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                                    <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <div class="footer-widget footer-column footer-column__b col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12 mb-40">
                        <div class="inner">
                            <h4 class="fontWeight400 text-white ft-title">Company</h4>
                            <div class="footer-content">
                                <ul class="quick-link">
                                    <li><a href="#"><span>About Us</span></a></li>
                                    <li><a href="#"><span>Help Center</span></a></li>
                                    <li><a href="#"><span>Licenses</span></a></li>
                                    <li><a href="#"><span>Market API</span></a></li>
                                    <li><a href="#"><span>Site Map</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <div class="footer-widget footer-column footer-column__b col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12 mb-40">
                        <div class="inner">
                            <h4 class="fontWeight400 text-white ft-title">Userful</h4>
                            <div class="footer-content">
                                <ul class="quick-link">
                                    <li><a href="#"><span>The Collections</span></a></li>
                                    <li><a href="#"><span>Size Guide</span></a></li>
                                    <li><a href="#"><span>Lookbook</span></a></li>
                                    <li><a href="#"><span>Instagram Shop</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <div class="footer-widget footer-column footer-column__b col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 mb-40">
                        <div class="inner">
                            <h4 class="fontWeight400 text-white ft-title">Contact Us</h4>
                            <div class="footer-content">
                                <div class="address">
                                    <p><span class="list-icon"><i class="dlicon ui-1_email-85"></i></span> <span class="list-content">info@la-studioweb.com</span></p>
                                    <p><span class="list-icon"><i class="dlicon ui-3_phone-call"></i></span> <span class="list-content">+44.954.954.86</span></p>
                                    <p><span class="list-icon"><i class="dlicon ui-2_time-clock"></i></span> <span class="list-content">9:00am - 19:00pm  <br> Monday - Sunday</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Widget -->

                </div>
            </div>
            <!-- End Footer Top -->
            <!-- Start Copyright Area -->
            <div class="copyright-area">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="content text-center">
                            <p>© 2022 RAZ Store All rights reserved</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Copyright Area -->
        </footer>
        <!-- End Footer Area -->
    </div>
    <!-- All jquery file included here -->
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/plugins.js"></script>


    <script src="~/assets/js/rev/jquery.themepunch.revolution.min.js"></script>
    <script src="~/assets/js/rev/jquery.themepunch.tools.min.js"></script>


    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="~/assets/js/rev/revolution.extension.actions.min.js"></script>
    <script src="~/assets/js/rev/revolution.extension.carousel.min.js"></script>
    <script src="~/assets/js/rev/revolution.extension.kenburn.min.js"></script>
    <script src="~/assets/js/rev/revolution.extension.layeranimation.min.js"></script>
    <script src="~/assets/js/rev/revolution.extension.migration.min.js"></script>
    <script src="~/assets/js/rev/revolution.extension.navigation.min.js"></script>
    <script src="~/assets/js/rev/revolution.extension.parallax.min.js"></script>
    <script src="~/assets/js/rev/revolution.extension.slideanims.min.js"></script>
    <script src="~/assets/js/rev/revolution.extension.video.min.js"></script>

    <script src="~/assets/js/rev/revoulation.js"></script>

    <script src="~/assets/js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGM-62ap9R-huo50hJDn05j3x-mU9151Y"></script>
    <Script>
        if ($('#htmap2').length) {
            // When the window has finished loading create our google map below
            google.maps.event.addDomListener(window, 'load', init);

            function init() {
                // Basic options for a simple Google Map
                // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
                var mapOptions = {
                    // How zoomed in you want the map to start at (always required)
                    zoom: 12,

                    scrollwheel: false,

                    // The latitude and longitude to center the map (always required)
                    center: new google.maps.LatLng(23.7286, 90.3854), // New York

                    // How you would like to style the map.
                    // This is where you would paste any style found on Snazzy Maps.
                    styles: [


                        {
                            "featureType": "administrative",
                            "elementType": "all",
                            "stylers": [{
                                "hue": "#ff0000"
                            }]
                        },
                        {
                            "featureType": "administrative",
                            "elementType": "geometry",
                            "stylers": [{
                                "color": "#888888"
                            }]
                        },
                        {
                            "featureType": "administrative",
                            "elementType": "geometry.fill",
                            "stylers": [{
                                "hue": "#ff0000"
                            }]
                        },
                        {
                            "featureType": "administrative",
                            "elementType": "labels.text",
                            "stylers": [{
                                    "color": "#6e6e6e"
                                },
                                {
                                    "visibility": "simplified"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative.country",
                            "elementType": "geometry",
                            "stylers": [{
                                "color": "#6f6b6b"
                            }]
                        },
                        {
                            "featureType": "landscape",
                            "elementType": "labels.text",
                            "stylers": [{
                                "color": "#c5c5c5"
                            }]
                        },
                        {
                            "featureType": "landscape.natural",
                            "elementType": "geometry",
                            "stylers": [{
                                "color": "#cfcfcf"
                            }]
                        },
                        {
                            "featureType": "landscape.natural.landcover",
                            "elementType": "all",
                            "stylers": [{
                                "hue": "#ff0000"
                            }]
                        },
                        {
                            "featureType": "landscape.natural.landcover",
                            "elementType": "geometry",
                            "stylers": [{
                                "hue": "#ff0000"
                            }]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "all",
                            "stylers": [{
                                "visibility": "off"
                            }]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "labels.text",
                            "stylers": [{
                                    "visibility": "off"
                                },
                                {
                                    "color": "#909090"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "labels.icon",
                            "stylers": [{
                                "visibility": "off"
                            }]
                        },
                        {
                            "featureType": "poi.medical",
                            "elementType": "geometry",
                            "stylers": [{
                                "color": "#e5e5e5"
                            }]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "geometry",
                            "stylers": [{
                                "color": "#e5e5e5"
                            }]
                        },
                        {
                            "featureType": "poi.place_of_worship",
                            "elementType": "geometry",
                            "stylers": [{
                                "color": "#ff0000"
                            }]
                        },
                        {
                            "featureType": "poi.sports_complex",
                            "elementType": "geometry",
                            "stylers": [{
                                "color": "#f7f7f7"
                            }]
                        },
                        {
                            "featureType": "road",
                            "elementType": "geometry.fill",
                            "stylers": [{
                                "color": "#ffffff"
                            }]
                        },
                        {
                            "featureType": "road",
                            "elementType": "geometry.stroke",
                            "stylers": [{
                                "gamma": 7.18
                            }]
                        },
                        {
                            "featureType": "road",
                            "elementType": "labels.icon",
                            "stylers": [{
                                "visibility": "off"
                            }]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "labels.text",
                            "stylers": [{
                                "visibility": "simplified"
                            }]
                        },
                        {
                            "featureType": "transit.line",
                            "elementType": "geometry",
                            "stylers": [{
                                "gamma": 0.48
                            }]
                        },
                        {
                            "featureType": "transit.station",
                            "elementType": "labels.icon",
                            "stylers": [{
                                "visibility": "off"
                            }]
                        },
                        {
                            "featureType": "water",
                            "elementType": "all",
                            "stylers": [{
                                    "color": "#bcbcbc"
                                },
                                {
                                    "visibility": "on"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "labels.text.fill",
                            "stylers": [{
                                "color": "#ffffff"
                            }]
                        }
                    ]
                };

                // Get the HTML DOM element that will contain your map
                // We are using a div with id="map" seen below in the <body>
                var mapElement = document.getElementById('htmap2');

                // Create the Google Map using our element and options defined above
                var map = new google.maps.Map(mapElement, mapOptions);

                // Let's also add a marker while we're at it
                var contentString = '<div id="content">' +
                    '<div id="siteNotice">' +
                    '</div>' +
                    '<div id="bodyContent">' +
                    '<p>Barisal Polytechnic Institute, </br>Street Name, </br>Barisal, Bangladesh</p>' +
                    '</div>' +
                    '</div>';
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(23.7286, 90.3854),
                    map: map,
                    title: 'RAZ',
                    icon: '~/assets/images/logo-contact.png',
                    animation: google.maps.Animation.BOUNCE

                });
            }
        }
    </Script>

    @RenderSection("JavaScript", false);

</body>
</html>
