@page
@model Ecommerce.Pages.Admin.ProductFormModel
@{
    Layout = "_AdminSide";
}
<form method="post" enctype="multipart/form-data">

    <div class="container  mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-8`">
                <div class="card">
                    <div class="card-header">
                        <h4>Product Form</h4>
                        <a asp-page="ProductList" class="btn btn-primary float-end">ProductList</a>
                    </div>
                    <div class="card-body mb-3">


                        <div class="row">
                            <div class="mb-3 col-6">
                                <label for="exampleFormControlInput1" class="form-label">Category</label>
                                <select id="Category" class="form-select" asp-items="Model.CategoryList" asp-for="Products.CategoryId">
                                    <option>--Select Category</option>
                                </select>
                                <span   class="text-danger" asp-validation-for="Products.CategoryId"></span>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="exampleFormControlInput1" class="form-label">Sub-Category</label>
                                <select id="SubCategoryId" class="form-select" asp-items="Model.SubCategoryList" asp-for="Products.SubCategoryId">
                                    <option>--Select SubCategory</option>

                                </select>
                                <span class="text-danger" asp-validation-for="Products.SubCategoryId"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-6">
                                <label for="exampleFormControlInput1" class="form-label">Third-Category</label>
                                <select id="ThirdCategoryId" asp-items="Model.ThirdCategoryList" class="form-select" asp-for="Products.ThirdCategoryId">
                                    <option>--Select ThirdCategory</option>

                                </select>
                                <span class="text-danger" asp-validation-for="Products.ThirdCategoryId" ></span>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="exampleFormControlInput1" class="form-label">Brand</label>
                                <select class="form-select" asp-items="Model.BrandList" asp-for="Products.BrandId">
                                    <option>--Select Brand</option>

                                </select>
                                <span class="text-danger" asp-validation-for="Products.BrandId"></span>
                            </div>
                        </div>
                        <div class="row">

                            <div class="mb-3 col-6">
                                <label for="exampleFormControlInput1" class="form-label">Product Name</label>
                                <input type="text" class="form-control" id="txtProductName" asp-for="Products.ProductName">
                                <span class="text-danger" asp-validation-for="Products.ProductName"></span>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="exampleFormControlInput1" class="form-label">Product Price</label>
                                <input type="text" class="form-control" id="txtPrice" asp-for="Products.ProductPrice">
                                <span class="text-danger" asp-validation-for="Products.ProductPrice"></span>
                            </div>
                        </div>
                        <div class="row">

                            <div class="mb-3 col-6">
                                <label for="exampleFormControlInput1" class="form-label">Photo Upload</label>
                                <input  class="form-control" asp-for="Products.ImgUpload">
                                @if (Model.Products != null)
                                    {
                                       <img height="100" width="100" src="@Model.Products.Photo"/> 
                                    }
                                <span class="text-danger" asp-validation-for="Products.ImgUpload"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Description</span>
                                <textarea class="form-control" aria-label="With textarea" asp-for="Products.Description"></textarea>
                                <span class="text-danger" asp-validation-for="Products.Description"></span>
                            </div>
                        </div>


                    </div>
                    <div class="card-footer d-flex justify-content-center mt-3">
                        @if (string.IsNullOrEmpty(Request.Query["EditId"].ToString()))
                        {
                            <input type="submit" asp-page-handler="Create" value="Save" class=" btn btn-primary">

                        }
                        else
                        {
                            <input type="submit" asp-page-handler="Update" value="Update" class=" btn btn-primary">
                            <input type="hidden" asp-for="Products.ProductId"   class=" btn btn-primary">

                        }



                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section JavaScript
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/ajaxcall/fillsubcategory.js"></script>
    <script src="~/ajaxcall/thirdcategoryfill.js"></script>
    <script>
        var Qs = new URLSearchParams(window.location.search);
        if(Qs.has("Message"))
        {
            alert(Qs.get("Message"));
            window.location.href = "/Admin/ProductForm";
        }
    </script>
    <script>
        $("#Category").change(()=>{

            var CatId = $("#Category").val();
            FillSubCategorybyCatgory(CatId);
        });

        $("#SubCategoryId").change(()=>{

            var SubCatId = $("#SubCategoryId").val();
             SubCategoryIdbyThirdCategoryId(SubCatId);
        });
    </script>
}

